<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <link rel="icon" type="image/png" href="../static/img/icon.png">
    <title>Landing Page - Paty</title>
</head>
<body>
    <main class="main">
        <section id="inicio">
            <div class="inicio col-lg-12 col-md-12 col-sm-12 col-xs-6">
                <img src="../static/img/banner_1.png" class="img-fluid" alt="banner_1">
            </div>
        </section>
        <section id="cards" data-anime="down">
            <div class="row row-cols-1 row-cols-md-4 g-4 mt-5 mb-5">
                <div class="col">
                  <div class="card gradiente">
                    <div class="card-body">
                        <i class="bi bi-people" style="font-size: 3rem; color: #fff;"></i>
                      <p>CONSTRUÇÃO DE UM</p>
                      <p>TIME COESO</p>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card gradiente">
                    <div class="card-body">
                      <i class="bi bi-person-workspace" style="font-size: 3rem; color: #fff;"></i>
                      <p>ENGAJAMENTO E</p>
                      <p>RESPONSABILIDADE</p>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card gradiente">
                    <div class="card-body">
                      <i class="bi bi-check2-circle" style="font-size: 3rem; color: #fff;"></i>
                      <p>INTEGRAÇÃO DE</p>
                      <p>EQUIPE</p>
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="card gradiente">
                    <div class="card-body">
                      <i class="bi bi-bullseye" style="font-size: 3rem; color: #fff;"></i>
                      <p>EQUIPE COM FOCO</p>
                      <p>EM RESULTADOS</p>
                    </div>
                  </div>
                </div>
              </div>
        </section>
        <section class="container" id="link1">
          <div class="row">
              <div class="col-md-3">
                  <a href="#">
                    <button type="button" class="btn" data-anime="left">CLICK HERE</button>
                  </a>
              </div>
              <div class="col-md-9" data-anime="right">
                  <p id="texto1">Prepara sua equipe para encarar os desafios e entregrar os resultados acima do 
                    esperado.</p>
                  <p id="texto1">No <strong>TEAM BUILDING</strong>, a equipe irá vivenciar experiências e situações 
                    práticas, trabalhando comportamentos, habilidades e emoções.</p>
              </div>
              <div class="col-md-12">
                <p id="texto2">Está em dúvida como funciona um Team Building?</p>
                <p id="texto2">Veja abaixo...<i class="bi bi-arrow-down" style="font-size: 4rem; color: #FAB636;"></i></p>
              </div>
          </div>
      </section>
    </main>
    <script src="../static/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/script.js"></script>
</body>
</html>